@model DBRouCity.viaje

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>viaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.latOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cocheDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cocheDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asientosDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asientosDisponibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantParada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantParada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiempoParada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempoParada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdViaje }) |
    @Html.ActionLink("Back to List", "Index")
</p>
